
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.contact-box{
  background: #262626;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  padding: 0px 2%;
}

.contact-box .first{
  flex: 1;
  align-items: center;
}

.contact-box .second{
  flex: 2;
}

.contact-box .third{
  flex: 2;
}

.header-box{
  background-color: white;
  margin-bottom: 10px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
}

.my_container{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 2%;
}

.menu{
  display: flex;
}

.list{
  list-style: none;
}

.list .contain:hover {
  color: green;
}

.menu .list span{
  font-size: 12px;
  font-weight: 400;
}

.list li{
  display: inline-block;
  cursor: pointer;
  margin: 0px 20px;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
}

.list .contain:focus {
  outline: none;
}

.list .active {
  color: #75890c;
  outline: none;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mobile-view {
  display: none;
}

.sidenavEnable{
  display: none;
}

.profile-menu{
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 3px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 12px;
}

.dropdown-content a:hover{
    background-color: #3f51b5;
    color: white;
}

@media (max-width: 1080px) {
  .contact-box {
        display: none;
  }
  .menu{
      display: none;
  }
  .mobile-view{
      display: block !important;
      font-size: 30px;
  }
  .sidenavEnable{
      display: inline !important;
      transform: translateY(-50%) scaleY(0);
  }
  .my_container{
      padding: 10px 5%;
  }
}

.example-container {
width: 400px;
height: 100%;
margin: 12px;
border: 1px solid #555;
z-index: 2;
}

mat-drawer-content {
padding: 12px;
display: flex;
flex-direction: column;
align-items: flex-start;
}

/* custom input */

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/* example-search */
#example-search input[type=search] {
	width: 15px;
	padding-left: 15px;
	color: transparent;
	cursor: pointer;
}
#example-search input[type=search]:hover {
	background-color: #fff;
}
#example-search input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#example-search input:-moz-placeholder {
	color: transparent;
}
#example-search input::-webkit-input-placeholder {
	color: transparent;
}
