<div class="header-box">
  <div class="my_container">
    <div class="mobile-view">
        <mat-icon fontSet="material-icons-outlined">menu</mat-icon>
    </div>
    <div class="logo">
      <a [routerLink]="['/home']" style="width: 100px;">
        <img src="https://i.pinimg.com/originals/2c/fc/93/2cfc93d7665f5d7728782700e50596e3.png" height="50px">
      </a>
    </div>
    <div class="menu">
      <ul class="list">
        <li class="contain" [routerLink]="['/home']" routerLinkActive="active"><span>HOME</span></li>
        <li class="contain" [routerLink]="['/books']" routerLinkActive="active"><span>BOOKS</span></li>
        <li class="contain" [routerLink]="['/contact']" routerLinkActive="active"><span>CONTACT</span></li>
      </ul>
    </div>
    <div class="menu">
      <ul class="list">
        <li class="contain" *ngIf="!user" (click)="openLoginDialog()">
            <span>SIGN IN</span>
        </li>
      </ul>
    </div>
  </div>
</div>
