<div class="container ecom-marketing-container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="ecom-marketing-item-prop"><i class="material-icons" style="color: #333;">shopping_cart</i></div>
      <div class="ecom-marketing-item-prop ecom-marketing-item-number" style="color: #e40046;">186</div>
      <div class="ecom-marketing-item-prop ecom-marketing-item-txt" style="color: #333;">Orders per day</div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="ecom-marketing-item-prop"><i class="material-icons" style="color: #333;">local_shipping</i></div>
      <div class="ecom-marketing-item-prop ecom-marketing-item-number" style="color: #e40046;">2493</div>
      <div class="ecom-marketing-item-prop ecom-marketing-item-txt" style="color: #333;">Packages delivered</div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="ecom-marketing-item-prop"><i class="material-icons" style="color: #333;">thumb_up_alt</i></div>
      <div class="ecom-marketing-item-prop ecom-marketing-item-number" style="color: #e40046;">560</div>
      <div class="ecom-marketing-item-prop ecom-marketing-item-txt" style="color: #333;">Positive feedback</div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="ecom-marketing-item-prop"><i class="material-icons" style="color: #333;">sentiment_very_satisfied</i></div>
      <div class="ecom-marketing-item-prop ecom-marketing-item-number" style="color: #e40046;">100%</div>
      <div class="ecom-marketing-item-prop ecom-marketing-item-txt" style="color: #333;">Clients satisfied</div>
    </div>

  </div>
</div>
