<h2 style="text-align: center; column-rule: white; margin-bottom: 30px;">Welcome</h2>
<form style="width: 320px; height: 300px;" class="register-form" novalidate="" [formGroup]="loginForm">
    <div class="division" style="display:flex;  margin-bottom: 30px;">
        <div class="line"></div>
        <span style="margin: 0px 15px;">Client</span>
        <div class="line"></div>
    </div>

    <div class="input-group form-group-no-border">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <mat-icon>email</mat-icon>
            </span>
        </div>
        <input class="form-control" placeholder="Email" type="text" formControlName="email">
    </div>

    <div style="margin-top:20px;" class="input-group form-group-no-border">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <mat-icon>vpn_key</mat-icon>
            </span>
        </div>
        <input class="form-control" placeholder="Password" type="text" formControlName="password">
    </div>

    <button class="btn btn-block btn-round" style="margin-top:30px; background-color: #fbb710; color:white;">Login</button>

    <div style="display:flex; justify-content: space-between;">
        <a class="btn btn-link" style="margin-top:20px; color:#fbb710;" (click)="onSignUpClick()">Sign up</a>
    </div>

</form>
