<div class="footer">
    <div class="container">
        <div class="first">
            <h4>Copmany Bookstore</h4>
            <p>
              Books give soul to the universe, wings to the mind, flight to the imagination, and life to everything.
            </p>
        </div>
        <div class="second">
            <h4>HELP</h4>
            <ul class="list">
                <li> Shipping Information </li>
                <li> Returns & Exchange </li>
                <li> Terms & Conditions </li>
                <li> Privacy Policy </li>
            </ul>
        </div>
        <div class="third">
            <h4>HAVE A QUESTION</h4>
            <p>Street: São Bartolomeu N: 7541 Irmã Dulce</p>
            <p>86 99538 9853</p>
            <p>info@bookstore.com
            </p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2019 All rights reserved | This application is made with by Nelson Dias </p>
    </div>
</div>
