<div class="header-box fixed-top">
  <div class="my_container">

    <!-- Logo -->
    <div class="logo">
      <a [routerLink]="['/home']" style="width: 100px;">
        <img [src]="'assets/images/logo/logo.png'" height="50px">
      </a>
    </div>
    <div class="menu">
      <ul class="list">
        <li class="contain" [routerLink]="['/home']" routerLinkActive="active"><span>Home</span></li>
        <li class="contain" [routerLink]="['/books']" routerLinkActive="active"><span>Books</span></li>
        <li class="contain" [routerLink]="['/contact']" routerLinkActive="active"><span>Contact</span></li>
        <li>
          <div id="example-search">
            <input type="search" placeholder="Search">
          </div>
        </li>
      </ul>
    </div>
    <div class="menu">
      <ul class="list">
        <!--
        <li class="" >
          <mat-icon fontSet="material-icons" style="font-size: 30px; color: #555">shopping_cart</mat-icon>
          <div class="ecom-cart-items-nb">{{catLength}}</div>
        </li>
        -->
        <!-- Link Sign In -->
        <li class="contain" *ngIf="!currentUser" (click)="openLoginDialog()">
          <div style="display:flex; flex-direction: column; align-items: center">
            <img [src]="'assets/images/icons/singin.png'" height="25px" width="25px">
            <span>Sign in</span>
          </div>
        </li>

        <!-- currentUser -->
        <li class="contain profile dropdown" *ngIf="currentUser" [mdePopoverTriggerFor]="profilePopover"
          [mdePopoverOffsetX]="-50" [mdePopoverOffsetY]="60" mdePopoverTriggerOn="click">
          <div style="display:flex; flex-direction: column; align-items: center">
            <img [src]="'assets/images/icons/singin.png'" height="25px" width="25px">
            <span> {{ currentUser.name }} </span>
          </div>
        </li>

        <!-- cart -->
        <li class="contain" (click)="toggleCartPopup($event)">
          <div style="display:flex; flex-direction: column; position: relative;">
            <img [src]="'/assets/images/icons/car.png'" height="25px" width="25px">
            <span>Cart</span>
          </div>
        </li>
        <span class="ecom-cart-items-nb">{{ cartCountItem }}</span>
      </ul>
    </div>
  </div>
  <app-cart-popup></app-cart-popup>
</div>

<!-- Card settings client -->
<mde-popover #profilePopover="mdePopover" [mdePopoverCloseOnClick]="true">
  <div class="profile-popover">
    <ul class="profile-dropdown">
      <li [routerLink]="['/accounts/orders']" class="profile-dropdown-item" routerLinkActive="active">
        <button mat-icon-button color="dark">
            <mat-icon fontSet="material-icons-outlined">receipt</mat-icon>
        </button>
        Orders
      </li>
      <li [routerLink]="['/accounts/creditcard']" class="profile-dropdown-item" routerLinkActive="active">
        <button mat-icon-button color="dark">
            <mat-icon fontSet="material-icons-outlined">credit_card</mat-icon>
        </button>
        Payment
      </li>
      <li [routerLink]="['/accounts/profile']" class="profile-dropdown-item" routerLinkActive="active">
        <button mat-icon-button color="dark">
            <mat-icon fontSet="material-icons-outlined">person</mat-icon>
        </button>
        Account
      </li>
      <li (click)="logout()" class="profile-dropdown-item" style="padding-left: 12px;;">
        <button mat-icon-button color="dark">
          <mat-icon fontSet="material-icons-outlined">directions_run</mat-icon>
        </button>
        Logout
      </li>
    </ul>
  </div>
</mde-popover>

