<div class="container">
    <h3>Manage Addresses</h3>
    <!-- <div class="box">
        <mat-icon style="vertical-align: middle;">add</mat-icon> &nbsp; &nbsp;
        <span style="font-size: 14px; color: #3f51b5;">Add A New Address</span>
    </div> -->
    <div class="address-form">
        <form [formGroup]="addressForm">

            <div class="form-box">
                <mat-form-field appearance="outline">
                    <mat-label>Street</mat-label>
                    <input matInput formControlName="street" placeholder="Enter your street" value="{{addresss.street}}">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Suite</mat-label>
                    <input matInput formControlName="suite" placeholder="Enter your suite" value="{{addresss.suite}}">
                </mat-form-field>
            </div>
            <div class="form-box">
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" placeholder="Enter your city" value="{{addresss.city}}">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Zipcode</mat-label>
                    <input matInput formControlName="zipcode" placeholder="Enter zipcode" value="{{addresss.zipcode}}">
                </mat-form-field>
            </div>
            <div class="form-box">
                <button class="btn btn-block btn-round dark-background white-color" style="width: 100px;" (click)="addAddress()">Save</button>
            </div>

        </form>
    </div>
</div>
